In [3]:
!pip install pandas

Collecting pandas
  Using cached pandas-1.4.2-cp39-cp39-win_amd64.whl (10.5 MB)
Requirement already satisfied: numpy>=1.18.5 in c:\python39\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in c:\python39\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.4.2

WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)

In [4]:
import pandas as pd

In [19]:
# Legge un file CSV
iris_data = pd.read_csv("data/iris.csv")

In [20]:
# Legge un file CSV senza intestazione
iris_data_noheader = pd.read_csv("data/iris_noheader.csv", header=None, names=['sepal_length','sepal_width','petal_length','petal_width','species'])

In [15]:
# Mostra le prime 5 righe
iris_data.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [21]:
iris_data_noheader.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [17]:
iris_data.head(10)

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

In [18]:
# Visualizza le ultime 5 osservazioni
iris_data.tail()

     sepallength  sepalwidth  petallength  petalwidth           class
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

In [22]:
iris_data.columns

Index(['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'class'], dtype='object')

In [23]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepallength  150 non-null    float64
 1   sepalwidth   150 non-null    float64
 2   petallength  150 non-null    float64
 3   petalwidth   150 non-null    float64
 4   class        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [26]:
# Accede ai valori di una singola colonna
X = iris_data['class']
X.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class, dtype: object

In [27]:
# Accede ai valori di più colonne
X = iris_data[['sepallength','sepalwidth','class']]
X.head()

   sepallength  sepalwidth        class
0          5.1         3.5  Iris-setosa
1          4.9         3.0  Iris-setosa
2          4.7         3.2  Iris-setosa
3          4.6         3.1  Iris-setosa
4          5.0         3.6  Iris-setosa

In [28]:
# Rimuove la colonna class per ogni riga
X = iris_data.drop('class', axis=1)
X.head()

   sepallength  sepalwidth  petallength  petalwidth
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2

**loc**

In [8]:
# Selezione per righe
iris_data.loc[0]

sepallength            5.1
sepalwidth             3.5
petallength            1.4
petalwidth             0.2
class          Iris-setosa
Name: 0, dtype: object

In [9]:
# Selezione di più righe
iris_data.loc[[0, 2]]

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa

In [10]:
# Selezione per righe e colonne
iris_data.loc[[0, 2], ['sepallength']]

   sepallength
0          5.1
2          4.7

In [11]:
# Selezione per righe e colonne
iris_data.loc[[0, 2], ['sepallength','class']]

   sepallength        class
0          5.1  Iris-setosa
2          4.7  Iris-setosa

**iloc**

In [14]:
iris_data.iloc[[0, 2]]

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa

**Differenza fra loc e iloc**

In [32]:
# Copia il data frame per non modificare l'originale
iris_sample = iris_data.copy()
# Mescola i dati e li recupera tutti
iris_sample = iris_data.sample(frac=1)
iris_sample.head()

    sepallength  sepalwidth  petallength  petalwidth            class
71          6.1         2.8          4.0         1.3  Iris-versicolor
95          5.7         3.0          4.2         1.2  Iris-versicolor
99          5.7         2.8          4.1         1.3  Iris-versicolor
22          4.6         3.6          1.0         0.2      Iris-setosa
10          5.4         3.7          1.5         0.2      Iris-setosa

In [33]:
iris_sample.loc[99]

sepallength                5.7
sepalwidth                 2.8
petallength                4.1
petalwidth                 1.3
class          Iris-versicolor
Name: 99, dtype: object

In [34]:
iris_sample.iloc[2]

sepallength                5.7
sepalwidth                 2.8
petallength                4.1
petalwidth                 1.3
class          Iris-versicolor
Name: 99, dtype: object

In [35]:
# Seleziona le prime 10 righe e la colonna 1
iris_sample.iloc[:10,1]

71     2.8
95     3.0
99     2.8
22     3.6
10     3.7
103    2.9
111    2.7
110    3.2
145    3.0
124    3.3
Name: sepalwidth, dtype: float64

**Informazioni statistiche**

In [13]:
iris_data.shape

(150, 5)

In [36]:
iris_data.describe()

       sepallength  sepalwidth  petallength  petalwidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [37]:
iris_data.max()

sepallength               7.9
sepalwidth                4.4
petallength               6.9
petalwidth                2.5
class          Iris-virginica
dtype: object

In [38]:
iris_data['sepallength'].max()

7.9

In [41]:
iris_data['sepallength'].mean()

5.843333333333334

In [39]:
# Visualizza i valori della variabile categorica
iris_data['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

**Filtri e maschere**

In [40]:
long_petal_mask = iris_data['petallength'] > iris_data['petallength'].mean()
iris_long_petal = iris_data[long_petal_mask]
iris_long_petal.head()

    sepallength  sepalwidth  petallength  petalwidth            class
50          7.0         3.2          4.7         1.4  Iris-versicolor
51          6.4         3.2          4.5         1.5  Iris-versicolor
52          6.9         3.1          4.9         1.5  Iris-versicolor
53          5.5         2.3          4.0         1.3  Iris-versicolor
54          6.5         2.8          4.6         1.5  Iris-versicolor

**12:13 minuti**